/* Portfolio */

/* Fonts */

@charset "UTF-8";

@font-face {
  font-family: "et-book";
  src: url("../font/normal/normal.eot");
  src: url("../font/normal/normal.eot") format("embedded-opentype"), url("../font/normal/normal.woff") format("woff"), url("../font/normal/normal.ttf") format("truetype"), url("../font/normal/normal.svg") format("svg");
  font-weight: normal;
  font-style: normal
}

@font-face {
  font-family: "et-book";
  src: url("../font/italic/italic.eot");
  src: url("../font/italic/italic.eot") format("embedded-opentype"), url("../font/italic/italic.woff") format("woff"), url("../font/italic/italic.ttf") format("truetype"), url("../font/italic/italic.svg") format("svg");
  font-weight: normal;
  font-style: italic
}

@font-face {
  font-family: "et-book";
  src: url("../font/bold/bold.eot");
  src: url("../font/bold/bold.eot") format("embedded-opentype"), url("../font/bold/bold.woff") format("woff"), url("../font/bold/bold.ttf") format("truetype"), url("../font/bold/bold.svg") format("svg");
  font-weight: bold;
  font-style: normal
}

/* Homepage */

h1 {
  margin-left: auto;
  margin-top: 10%;
  text-align: center;
}

ul {
  list-style-type: none;
}

.sep {
  width: 40%;
  margin: auto;
}

.sep hr {
  margin-top: 3%;
  margin-bottom: 3%;
}


/* General Settings */

:root {
  background-color: #fffff8;
}

/* Adds dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    background-color: #151515;
    color: #ddd;
  }

  p,
  h1 a,
  p a {
    color: #ddd;
  }

  a .project-title,
  h2.project-title {
    color: #ddd;
    text-align: left;
  }

  .project-details p {
    color: #ddd;
  }

  footer a i {
    color: #ddd;
    text-align: center;
    text-decoration: none;
  }

  h3.about,
  .about a {
    color: inherit;
    text-align: center;
    margin: auto;
  }
}

body {
  font-family: "et-book", Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  ;
  line-height: 1.3;
}

h3 {
  width: 60%;
  margin: auto;
  text-align: left;
  font-size: 24px;
  font-family: serif;
}

p {
  font-size: 20px;
  text-align: justify;
  font-family: "et-book";
}

img {
  width: 300px;
}

a {
  text-decoration: none;
  color: black;
}

.code {
  font-family: 'Courier New', Courier, monospace;
}

/* Home Page */

.empty {
  /* Create Empty Box to prevent 
  navbar & content from overlapping*/
  height: 20px;
  width: 100%;
}

.empty-bottom {
  /* Create Empty Box to prevent 
  navbar & content from overlapping*/
  height: 20px;
  width: 100%;
}

.container {
  height: max-content;
  width: 80%;
  margin: auto;
  left: 0;
}

/* About Page*/

.line {
  width: 100px;
}

.content {
  text-align: center;
  width: 40%;
  margin: auto;
}

.title {
  text-align: center;
}

/* Footer */

footer {
  position: relative;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 100%;
}

footer p {
  text-align: center;
}

/* Social Media Profiles */

i,
footer a {
  color: black;
  text-align: center;
  text-decoration: none;
}

i:hover,
footer a:hover {
  color: lightslategrey;
}

/* Project Page */

.project-container {
  max-width: 70%;
  margin: auto;
}

.project-container:hover {
  .project-title {
    color: rgb(45, 49, 52);
  }
}

.project {
  margin: 20px;
}

.project-label {
  color: brown;
  font-family: monospace;
}

.project-title {
  font-size: 2rem;
  margin: 10px 0 30px;
  color: black;
  text-align: left;
  width: 100%;
}

.project-details p {
  font-size: 20px;
  line-height: 1.5;
  color: #36454F;
}

/* Phone Screens */

@media only screen and (max-width: 720px) {

  .empty {
    /* Create Empty Box to prevent 
    navbar & content from overlapping*/
    height: 10px;
    width: 100%;
  }

  h1 {
    margin-left: auto;
    margin-top: 15%;
    text-align: center;
  }

  h3 {
    font-size: 20px;
  }

  p {
    font-size: 14px;
  }

  .project-title {
    font-size: 15px;
    margin: 10px 0 10px;
  }

  .project-label {
    font-size: 8px;
    text-align: left;
  }

  .project-container {
    width: 90%;
    margin: auto;
  }

  .project-details p {
    font-size: 10px;
    line-height: 1.5;
    color: #36454F;
  }

  .empty-bottom {
    /* Create Empty Box to prevent 
    navbar & content from overlapping*/
    height: 10px;
    width: 100%;
  }

  .container {
    height: max-content;
    width: 90%;
    margin: auto;
    left: 0;
  }

  .content {
    width: 60%;
  }
}

.fab {
  height: 20px;
  width: 20px;
  margin: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
}

#menu {
  text-align: center;
}

div {
  display: block;
}

#menu a {
  color: inherit;
  margin: 5px;
}

#menu a:hover {
  color: lightslategrey;
}